<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" th:href="@{/css/main.css}">
		
		<title>Add Item</title>
		
	</head>
	
	<body>
		<div class="container">
			<h3>Add Item</h3>
			
<!-- 			
<!-- 			<!-- starting with a form that allows all fields except the ID to be manually edited -->
<!-- 			<!-- this will be altered based off what is needed --> 
<!-- 			<form action="#" th:action="@{/home/save}" th:object="${item}" method="POST"> -->
				
<!-- 				Hidden field to store ID, this enables item to be updated -->
<!-- 				<input type="hidden" th:field="*{id}" /> -->
				
<!-- 				<input type="text" th:field="*{status}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{title}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{content}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{priority}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{severity}" class="" placeholder=""> -->
				
<!-- 				these items will likely be handled differently -->
<!-- 				<input type="text" th:field="*{dueDate}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{dateCreated}" class="" placeholder=""> -->
<!-- 				<input type="text" th:field="*{dateUpdated}" class="" placeholder=""> -->
				
<!-- 			</form> -->

		</div>
	</body>
</html>