<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" th:href="@{/css/main.css}">
		
		<title>Add Item</title>
		
	</head>
	
	<body>
		<div class="container">
			<h3>Add Item</h3>
			
			
		<!-- starting with a form that allows all fields except the ID to be manually edited -->
 			<!-- this will be altered based off what is needed --> 
 			<form action="#" th:action="@{/home/save}" th:object="${item}" method="POST"> 
				
 				<!-- Hidden field to store ID, this enables item to be updated -->
 				<input type="hidden" th:field="*{id}" /> 
 				
 				<h4>Project</h4>
 				<select name="Project Name" th:field="${item.projectName}">
 					<option th:each="project : ${projects}" 
 					        th:value="${project.projectName}"
 					        th:text="${project.projectName}">
 				</select>
				
				<h4>Status</h4>
 				<select name="status" th:field="${item.status}">
	 				<option th:each="status : ${T(com.jakehcodes.todo.entity.utility.StatusCode).values()}"
	 				 		th:value="${status}" 
	 				 		th:text="${status}" >
 				</select>
 				
 				<h4>Title</h4>
 				<input type="text" th:field="${item.title}" class="" placeholder="Title"> 
 				
 				<h4>Description</h4>
 				<input type="text" th:field="${item.content}" class="" placeholder="Description"> 
 				
 				<h4>Due Date</h4>
 				<input type="text" th:field="${item.dueDate}" class="" placeholder="Due Date"> 

 				<!-- these items will likely be handled differently -->
				<input type="hidden" th:field="*{dateCreated}" class="" placeholder=""> 
				<input type="hidden" th:field="*{dateUpdated}" class="" placeholder="">
				
				<button type="submit" class="btn btn-info col-2">Save</button> 
				
			</form> 

		</div>
	</body>
</html>