<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=devicewidth, initial-scale=1">
		
		<link rel="stylesheet" th:href="@{/css/main.css}">
		
		<title>TODO List</title>
	</head>
	<body>
		<div class="container">
			<h3>TODO Items</h3>
			
			<a th:href="@{/home/addItem}" class="btn">
				Add Item
			</a>
			
			<div class="data">
				<table class="table">
					<thead>
						<tr>
							<th>Ticket Number</th>
							<th>Title</th>
							<th>Severity</th>
							<th>Priority</th>
							<th>Status</th>
							<th>Due Date</th>
							<th>Action</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="item : ${items}">
							<td th:text="${item.id}" />
							<td th:text="${item.title}" />
							<td th:text="${item.severity}" />
							<td th:text="${item.priority}" />
							<td th:text="${item.status}" />
							<td th:text="${item.dueDate}" />
							<td>
								<a th:href="@{/employees/showFormForUpdate(employeeId=${item.id})}" class="btn btn-info btn-sm">
									Update
								</a>
								
								<a th:href="@{/employees/delete(employeeId=${item.id})}" class="btn btn-danger btn-sm"
									onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>